#calendar {
    
    .calendarBox {
	position: absolute;
    left:50px;
    top:100px;
    width:400px;
        .header {
            padding:0 10px;
            display: flex;
            height: 60px;
            justify-content: space-between;
            align-items: center;
            .month {
                font-weight: 700;
                margin-left: 10px;
                text-transform: uppercase;
            }
        }
       
        .itemList {
            display: flex;
            flex-wrap: wrap;
            padding:0 10px;
            li {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                margin:2px;
                flex-basis: calc(100% / 7 - 4px);
                background: rgb(116, 113, 113);
                color:#fff;
              
                &.blank {
                    background:transparent;
                    pointer-events: none;
                }
                &.on {
                    background: red;
                   
                }
                &:before {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }
                span {
                    position: absolute;
                    width:100%;
                    height:100%;
                    left:0;
                    top:0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        
    }
}










