#darkModeBox{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    right:50px;
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 30px;
        color: #464D52;
        span{
            padding-right: 5px;

        }
    }
    #modeBtn{
        position: relative;
        width: 50px;
        height: 15px;
        z-index:99;
        background : none;     
        border:none;           
        outline: none;
        cursor: pointer;
        background-color: rgb(204, 204, 204);
        transition: all 0.4s ease 0s;
        border-radius: 34px;    
        &::before{
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 0px;
            bottom: -4px;
            border-radius: 50%;
            background-color: rgb(70, 77, 82);
            transition: all 0.4s ease 0s;
        }
    }
    &.dark{
        #modeBtn{
            background-color: #5673EB;
            &::before{
                background-color: #CFCFCF;
                transform: translateX(28px);
            }
        }
        p{
            color : #B7C1CC;
        }
    }

}

#coronaLiveBox{
    display:flex;
    width:100vw;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:#464D52;
    #coronaTotalDataBox{
        table{
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            font-weight: 400;
            margin:100px 0;
            tbody{
                text-align: center;
                tr{
                    th, td{
                        // border: 1px solid gray;
                    }
                }
            }
        }
    }
    #coronaGraphBox{
        #coronaOptionBox{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                // border: 1px solid gray;
                border-radius: 10px;
                padding: 10px 10px;
                margin: 0 20px;
                label{
                    font-size: 20px;
                    font-weight: 400;
                    margin-right: 25px;
                }
                select{
                    width: 70px;
                    height: 20px;
                }
            }
        }
    }
    #coronaAreaDataBox{
        margin: 100px 0;
        display:flex;
        width:100vw;
        justify-content: center;
        align-items: center;
        table{
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            font-weight: 400;
            margin:100px 0;
            tbody{
                text-align: center;
                tr{
                    th{
                        // border: 1px solid gray;
                    }
                }
            }
        }
    }
    &.dark{
        background-color: #101421;
        color: #B7C1CC;
    }
}
