a {
	text-decoration:none;
	color:inherit;
}
#header{
    width: 100%;
    #logo{
        position:absolute; 
        left:50px;         
        top:20px;
        z-index: 100;
        a {
            img{
                height: 100px;
            }
        }
    }
    #gnb{
        position: relative;
        padding-top: 20px;
        .gnbList{
            text-align:center; 
            font-size:0; 
            a{
                text-decoration: none;
                color: inherit;
            }
            >li{
                display: inline-block; 
                vertical-align :top; 
                font-size : 20px;
                position: relative;
                width: 12%;
                .depth01{
                    font-size:21px;
                    font-weight:700;   
                    display : block;   
                    height:90px;
                    line-height: 90px;  
                 
                }
                .depth02{
                    width: 100%;
                    position: absolute;
                    left: 0;
                    display: none;
                    padding: 10px 0;
                    height: 80px;
                    font-size: 17px;
                    font-weight: 700;
                    li{
                        padding: 20px 0;
                    }
                }
            }
            >li:hover{
                .depth01{
                    color: blue;
                }
            }
        }
        .gnbList:hover{
            
            li{
                .depth02{
                    display:block;
                    z-index: 99;
                    li{
                    }
                    
                }
            }
            &:before{
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 100%;
                height: 350px;
                width: 100%;
                z-index: 98;
                background-color: white;

            }
        }
    }
    .loginBox{
        position: absolute;
        right: 30px;
        top: calc(60px - 20px);
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-radius: 5px;
            height: 40px;    
            li{
                margin: 0 10px;
                font-size: 13px;
                color: white;
                a{
                    text-decoration: none;
                    color: inherit;
                    font-weight: 200;
                }
            }
        }
    }
}
#header:hover ~ #mainVisualBox{
    opacity: 0.5;
}



#footer{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}