#mainVisualBox {
  overflow: hidden;
  height: 100vh;
  background: url("../images/mainVisual01.jpg") no-repeat;  
  background-size: cover;
  #coronaTotalDataBox {
    position: absolute;
    top:20%;
    right: 100px;
    table {
      height: 20px;
      width: 400px;
      line-height: 20px;
      font-size: 15px;
      tbody {
        text-align: center;
        tr{
          th, td{
            
            border: 1px solid gray;
          }

        }
      }
    }
  }
  
}
