#mainVisualBox {
  overflow: hidden;
  height: calc(100vh - 150px);
  background: url("../images/mainVisual01.jpg") no-repeat;  
  background-size: cover;
  // opacity: 0.65;
  #coronaTotalDataBox {
    position: absolute;
    top:30%;
    right: 100px;
    
    p{
      font-size: 30px;
      font-weight: 400;
      color: white;
      border:1px solid white;
      padding: 20px;

    }
  }
  
}
