<<<<<<< HEAD
#vaccinationSymptomBox{    
        .formBox { 
            
            .menuBox{
                width: 1300px;
                p{
                    position: relative;
                    left:0px;
                }
                .mainMenu{
                    font-size: 35px;
                    font-weight: 600;
                    margin: 50px 0 50px 0;
                }
                .subMenu{
                    font-size: 30px;
                    font-weight: 600;
                    margin-bottom: 40px;
                    .material-icons{
                        color: rgb(95, 95, 100);
                    }
                }
            }
            .contents{
                width: 1300px;
                border: 1px solid #d9d9d9;
                border-radius: 20px;
                background-color: #f8f8f8;
                .basicSymptoms{
                    margin: 50px 50px 50px 100px;
                    font-size: 20px;
                    line-height: 2.0em;
                    .titleBox{
                        background-color: #67aae0;
                        width:1000px;
                        height: 100px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50px;
                        margin-left:50px ;
                        p{
                            text-align: center;
                            font-weight: bold;
                            color: #fff;
                        }
                    }
                    .vaBox{
                        margin:50px 50px 100px 0px;
                        display: flex;
                        flex-wrap: wrap;
                        width: 1100px;
                        .va{
                            margin: 50px;
                            width: 450px;
                            text-align: center;
                        }
                    }
                }
                .swiper-container ul li{
                    .lineBox{
                        width: 1100px;
                        height: 500px;
                        margin: 0 0 50px 100px;
                        border: 1px solid #d9d9d9;
                        background-color: #d9d9d9;
                        border-radius: 20px;
                        .imgBox{
                            display: flex;
                            width: 1000px;
                            margin:50px 0 0 50px;
                            
                            .txt{
                                width: 624px;
                                border: 1px solid #fff;
                                background-color: #fff;
                                text-align: center;
                                margin: 0 0 0 30px;
                                border-radius: 20px;
                                .title{
                                    margin:30px 0 30px 0;
                                    line-height: 1.5em;
                                    font-size: 40px; 
                                }
                                 p{
                                     //margin:0 20px 0 20px;
                                     font-size: 15px;
                                     line-height: 2.0em;
                                     padding-left: 30px;
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            table {
            border: 1px solid #d9d9d9;
            border-collapse: collapse;

                tr{
                    font-size: 15px;
                    th {
                    vertical-align: middle;
                    font-size: 20px;
                    background-color: #f8f8f8;
                    border-bottom: 1px solid #d9d9d9;
                    }

                    td {
                        vertical-align: middle;
                        position: relative;
                        padding: 15px;
                        border-bottom: 1px solid #d9d9d9;
                        text-align: center;
                        h3{
                            .material-icons{
                                color: #696464;
                            }
                        }
                        .symptomsIconBox{
                            display: flex;
                            justify-content: left;
                            align-items: center;
                            .iconBox{
                                text-align: center;
                                width: 150px;
                                height: 150px;
                                border:none;
                                .icon{
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .box{
                        margin: 20px 0;
                        padding-left: 100px;
                        text-align: left;
                        line-height: 1.3em;
                    }
                }
            }
        }
        }
}
=======
#vaccinationStatusBox {
  .formBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .menuBox {
      width: 1300px;
      p {
        position: relative;
        left: 0px;
      }
      .mainMenu {
        font-size: 35px;
        font-weight: 600;
        margin: 50px 0 50px 0;
      }
      .subMenu {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 40px;
        .material-icons {
          color: rgb(95, 95, 100);
        }
      }
    }
    .contents {
      width: 1300px;
      position: relative;
      left: 0px;
      select {
        width: 90px;
        padding: 0.8em 0.5em;
        font-family: inherit;
        background: url("../images/selectBoxBlack.png") no-repeat 95% 50%;
        border: 1px solid #464d52;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #464d52;
      }
      table {
        border: 1px solid #d9d9d9;
        border-collapse: collapse;
        tr {
          font-size: 15px;
          padding: 20px;
          th {
            vertical-align: middle;
            font-size: 20px;
            background-color: #f8f8f8;
            padding: 15px;
            border-bottom: 1px solid #d9d9d9;
          }
          td {
            vertical-align: middle;
            position: relative;
            padding: 15px;
            border-bottom: 1px solid #d9d9d9;
            text-align: center;
          }
        }
        td {
          vertical-align: middle;
          position: relative;
          padding: 15px;
          border-bottom: 1px solid #d9d9d9;
          text-align: center;
        }
      }
      #vaccineGraphBox {
        width: 800px;
        margin: 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #vaccineOptionBox {
          width: 600px;
          display: flex;
          margin-bottom: 40px;
          justify-content: space-around;
        }
      }
      #vaccineAreaDataBox {
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
>>>>>>> master
