#vaccineMainHomeBox{
  background-color: #f8f8f8;
  #mainVisualBox {
    overflow: hidden;
    height: 800px;
    position: relative;
    ul{
      li{
        position: relative;
        .sloganBox{
          position: absolute;
          left: 200px;
          top: 50%;
          font-size: 40px;
          font-weight: 400;
          line-height: 1.8em;
          color: white;
        }
        .mainVisual01{
          width: 100%;
          height: 800px;
          background: url("../images/mainVisual01.jpg") no-repeat;  
          background-size: cover;
        }
        .mainVisual02{
          width: 100%;
          height: 800px;
          background: url("../images/mainVisual02.jpg") no-repeat;  
          background-size: cover;
        }
        .mainVisual03{
          width: 100%;
          height: 800px;
          background: url("../images/mainVisual03.jpg") no-repeat;  
          background-size: cover;
        }
      }
    }
    #coronaTotalDataBox {
      position: absolute;
      top:10%;
      right: 100px;
      z-index: 100;
      p{
        font-size: 30px;
        font-weight: 400;
        color: white;
        border:1px solid white;
        border-radius: 20px;
        padding: 20px;
  
      }
    }
    #mainVisualPaginationBtnBox{
      position: absolute;
      left: 10px;
      top: 0px;
      width:50px;
      height: 800px;
      display: flex;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      z-index:150;
      .pagination{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .swiper-pagination-bullet{  
          width:20px;    
          height:20px;
          cursor:pointer;   
          margin:10px 0;   
          background: transparent; 
          border:3px solid white;              
          border-radius: 100px;    
          transition: all 0.25s ease;    
          outline: none;    
          opacity: 1;
        }
        .swiper-pagination-bullet-active{ 
          background: white;
          height:50px;            
        }
      }
      .prev{
        background : none;     
        border:none;           
        outline: none;        
        padding : 0;
        cursor:pointer;    
        z-index: 999;
      }
      .next{
        background : none;     
        border:none;           
        outline: none;        
        padding : 0;
        cursor:pointer;
        z-index: 999; 
      }
    }
  }
  
  #vaccineStatusSection{
    text-align: center;
    margin-top: 150px;
    background-color: rgb(184, 207, 212);
    position: relative;
    color: white;
    .mainTitle{
      font-size: 35px; 
      font-weight: 400;
      padding-top: 80px;
      margin-bottom: 100px;
      &:before{   
        content: "";              
        display: block;
        position: absolute;
        left: calc(50%);
        top:0px;         
        width:1px;
        height:40px;
        z-index: 99;
        background: white;
      }
    }
    .contentsBox{
      padding-bottom: 50px;
      .vaccineReservationDataBox{
        display: flex;
        justify-content: center;
        align-items: center;
        div{
          border: 1px solid white;
          border-radius: 20px;
          table{
            font-size: 20px;
            tbody{
              .firstTurn{
                color: rgb(9, 130, 160);
              }
              .secondTurn{
                color: rgb(199, 50, 50);
              }
              tr{
                th{
                  padding: 15px 25px;
                }
                td{
                  padding: 15px 25px;
                }
              }
            }
          }
        }
      }
    }
    .moreBtn{
      padding-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        border:1px solid #B7C1CC;          
        display: block;   
        width: 120px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        color: white;
        background-color: rgb(134, 173, 184);
        padding: 10px 30px;
             
      }
    }
  }

  #coronaSymptomMainHome{
    text-align: center;
    margin-top: 150px;
    background-color: #c9c9c9;
    position: relative;
    color: white;
    .mainTitle{
      font-size: 35px; 
      font-weight: 400;
      padding-top: 80px;
      margin-bottom: 100px;
      &:before{   
        content: "";              
        display: block;
        position: absolute;
        left: calc(50%);
        top:0px;         
        width:1px;
        height:40px;
        z-index: 99;
        background: white;
      }
    }
    .contentsBox{
      padding-bottom: 50px;
      .coronaSymptomMainDataBox{
        display: flex;
        justify-content: center;
        align-items: center;
        div{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 70px;
          img{
            margin-bottom: 30px;
            width: 150px;
          }
          p{
            font-size: 18px;
          }
        }
      }
    }
    .moreBtn{
      padding-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        border:1px solid #B7C1CC;          
        display: block;   
        width: 120px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        color: white;
        background-color: rgb(139, 148, 158);
        padding: 10px 30px;
             
      }
    }
  }

  #coronaVaccineInfoMainHome{
    text-align: center;
    margin-top: 150px;
    background-color: rgb(168, 204, 186);
    position: relative;
    color: white;
    .mainTitle{
      font-size: 35px; 
      font-weight: 400;
      padding-top: 80px;
      margin-bottom: 100px;
      &:before{   
        content: "";              
        display: block;
        position: absolute;
        left: calc(50%);
        top:0px;         
        width:1px;
        height:40px;
        z-index: 99;
        background: white;
      }
    }
    .contentsBox{
      padding-bottom: 80px;
      .coronaVaccineInfoMainDataBox{
        display: flex;
        justify-content: center;
        align-items: center;
        div{
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          margin: 0 50px;
          height: 100%;
          overflow: hidden;
          width: 230px;
          height: 140px;
          img{
            margin-bottom: 40px;
            transition: all 0.25s ease; 
          }
          p{
            font-size: 24px;
          }
          &:hover img{
            transform: scale(1.2);

          }
        }
      }
    }
    .moreBtn{
      padding-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        border:1px solid #B7C1CC;          
        display: block;   
        width: 120px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        color: white;
        background-color: rgb(130, 160, 145);
        padding: 10px 30px;
             
      }
    }
  }

  #goReservation{
    text-align: center;
    margin-top: 150px;
    position: relative;
    color: #46484b;
    height: 500px;
    z-index: 1;
    
    &::before{
      content: "";
      background: url("../images/reservationBg.png") no-repeat;
      background-size: cover;
      opacity: 0.5;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: -1;
    }
    .mainTitle{
      font-size: 35px; 
      font-weight: 400;
      padding-top: 150px;
      margin-bottom: 150px;
      &:before{   
        content: "";              
        display: block;
        position: absolute;
        left: calc(50%);
        top:0px;         
        width:1px;
        height:40px;
        z-index: 99;
        background: white;
      }
    }
    .moreBtn{
      padding-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        border:1px solid #B7C1CC;          
        display: block;   
        width: 120px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        color: white;
        background-color: rgb(139, 148, 158);
        padding: 10px 30px;
             
      }
    }
  }

  .moreBtn a:hover{
    border: 1px solid white !important;
    
  }
}