#coronaVaccineTypesBox .container .formBox .menuBox {
  width: 1300px;
}

#coronaVaccineTypesBox .container .formBox .menuBox p {
  position: relative;
  left: 0px;
}

#coronaVaccineTypesBox .container .formBox .menuBox .mainMenu {
  font-size: 35px;
  font-weight: 600;
  margin: 50px 0 50px 0;
}

#coronaVaccineTypesBox .container .formBox .menuBox .subMenu {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

#coronaVaccineTypesBox .container .formBox .menuBox .subMenu .material-icons {
  color: #2e3ae6;
}

#coronaVaccineTypesBox .container .formBox .contents table {
  border: 1px solid #d9d9d9;
  border-collapse: collapse;
}

#coronaVaccineTypesBox .container .formBox .contents table tr {
  font-size: 15px;
}

#coronaVaccineTypesBox .container .formBox .contents table tr th {
  font-size: 20px;
  background-color: #f8f8f8;
  padding: 15px;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 300px;
}

#coronaVaccineTypesBox .container .formBox .contents table tr td {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

#coronaVaccineTypesBox .container .formBox .contents table tr td h3 .material-icons {
  color: #696464;
}

#coronaVaccineTypesBox .container .formBox .contents table tr td .symptomsIconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#coronaVaccineTypesBox .container .formBox .contents table tr td .symptomsIconBox .iconBox {
  text-align: center;
  width: 150px;
  height: 150px;
  border: none;
}

#coronaVaccineTypesBox .container .formBox .contents table tr td .symptomsIconBox .iconBox .icon {
  text-align: center;
}
