@font-face { font-family: 'GmarketSansBold'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'GmarketSansMedium'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff"); font-weight: normal; font-style: normal; }

#header, #footer, #mainVisualBox, #memberLoginBox, #coronaLivePageBox, #vaccineMainHomeBox, #largeBox, #coronaVaccineTypesBox, #coronaSymptomsBox, #coronaVaccineTypesBox, #vaccinationStatusBox, #vaccinationSymptomBox, #vaccinationTargetTimingBox, #mediCenterSearchBox { font-family: 'GmarketSansBold'; }

td { font-family: 'GmarketSansMedium' !important; }

a { text-decoration: none; color: inherit; }

#header { font-family: 'GmarketSansBold'; width: 100%; height: 130px; }

#header #logo { position: absolute; left: 15px; top: 20px; z-index: 100; }

#header #logo a img { height: 100px; }

#header #gnb { position: relative; padding-top: 20px; }

#header #gnb .gnbList { text-align: center; font-size: 0; }

#header #gnb .gnbList a { text-decoration: none; color: inherit; }

#header #gnb .gnbList > li { display: inline-block; vertical-align: top; font-size: 20px; position: relative; width: 12%; }

#header #gnb .gnbList > li .depth01 { font-size: 21px; font-weight: 700; display: block; height: 90px; line-height: 90px; }

#header #gnb .gnbList > li .depth02 { width: 100%; position: absolute; left: 0; display: none; padding: 10px 0; height: 80px; font-size: 17px; font-weight: 700; }

#header #gnb .gnbList > li .depth02 li { padding: 20px 0; }

#header #gnb .gnbList > li .depth02 li a { position: relative; }

#header #gnb .gnbList > li .depth02 li a:before { content: ""; display: block; position: absolute; left: 0; top: 100%; height: 2px; width: 0px; z-index: 98; background-color: blue; }

#header #gnb .gnbList > li .depth02 li:hover a:before { -webkit-transition: all 1s ease; transition: all 1s ease; width: 100%; }

#header #gnb .gnbList > li:hover .depth01 { color: blue; }

#header #gnb .gnbList:hover li .depth02 { display: block; z-index: 99; }

#header #gnb .gnbList:hover:before { content: ""; display: block; position: absolute; left: 0; top: 100%; height: 350px; width: 100%; z-index: 98; background-color: white; }

#header .loginBox { position: absolute; right: 30px; top: calc(65px - 20px); }

#header .loginBox ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: black; border-radius: 5px; height: 40px; }

#header .loginBox ul li { margin: 0 10px; font-size: 13px; color: white; }

#header .loginBox ul li a { text-decoration: none; color: inherit; font-weight: 200; vertical-align: middle; }

#header .coronaLiveNav { position: absolute; right: 30px; top: 15px; font-size: 12px; color: #717b81; }

#header:hover ~ #vaccineMainHomeBox { opacity: 0.5; }

#footer { width: 100%; height: 150px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #928684; color: white; margin-top: 200px; position: relative; }

#footer #footerLogo { position: absolute; left: 80px; top: calc(75px - 65px); z-index: 100; }

#footer #footerLogo a img { height: 130px; }

#btnTop { outline: none; border: none; position: fixed; right: 100px; bottom: -100px; width: 60px; height: 60px; border-radius: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #B7C1CC; color: white; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; z-index: 999; }

#btnTop.show { bottom: 100px; }

#coronaLivePageBox.dark ~ footer { background-color: #101421; color: #B7C1CC; margin-top: 0px; }

body.dark #header { background-color: #101421; }

body.dark #header #logo { color: white; }
