#mediCenterSearchBox .formBox #mediCenterheader { width: 1300px; }

#mediCenterSearchBox .formBox #mediCenterheader p { position: relative; left: 0px; }

#mediCenterSearchBox .formBox #mediCenterheader .mainMenu { font-size: 35px; font-weight: 600; margin: 50px 0 50px 0; }

#mediCenterSearchBox .formBox #mediCenterheader .subMenu { font-size: 30px; font-weight: 600; margin-bottom: 40px; }

#mediCenterSearchBox .formBox #mediCenterheader .subMenu .material-icons { color: #5f5f64; }

#mediCenterSearchBox .formBox .contents table { border: 1px solid #d9d9d9; border-collapse: collapse; }

#mediCenterSearchBox .formBox .contents table tr { font-size: 15px; }

#mediCenterSearchBox .formBox .contents table tr th { vertical-align: middle; font-size: 20px; background-color: #f8f8f8; border-bottom: 1px solid #d9d9d9; }

#mediCenterSearchBox .formBox .contents table tr td { vertical-align: middle; position: relative; padding: 15px; border-bottom: 1px solid #d9d9d9; text-align: center; }

#mediCenterSearchBox .formBox .contents table tr td h3 .material-icons { color: #696464; }

#mediCenterSearchBox .formBox .contents table tr td .symptomsIconBox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#mediCenterSearchBox .formBox .contents table tr td .symptomsIconBox .iconBox { text-align: center; width: 150px; height: 150px; border: none; }

#mediCenterSearchBox .formBox .contents table tr td .symptomsIconBox .iconBox .icon { text-align: center; }

#mediCenterSearchBox .formBox .contents table tr .box { margin: 20px 0; padding-left: 100px; text-align: left; line-height: 1.3em; }
