#mainVisualBox { overflow: hidden; height: 100vh; background: url("../images/mainVisual01.jpg") no-repeat; background-size: cover; }

#mainVisualBox #coronaTotalDataBox { position: absolute; top: 20%; right: 100px; }

#mainVisualBox #coronaTotalDataBox table { height: 20px; width: 400px; line-height: 20px; font-size: 15px; }

#mainVisualBox #coronaTotalDataBox table tbody { text-align: center; }

#mainVisualBox #coronaTotalDataBox table tbody tr th, #mainVisualBox #coronaTotalDataBox table tbody tr td { border: 1px solid gray; }
