<<<<<<< HEAD
#vaccineMainHomeBox #mainVisualBox {
  overflow: hidden;
  height: 800px;
  background: url("../images/mainVisual01.jpg") no-repeat;
  background-size: cover;
}

#vaccineMainHomeBox #mainVisualBox #coronaTotalDataBox {
  position: absolute;
  top: 30%;
  right: 100px;
}
=======
#vaccineMainHomeBox #mainVisualBox { overflow: hidden; height: 800px; position: relative; }

#vaccineMainHomeBox #mainVisualBox ul li { position: relative; }

#vaccineMainHomeBox #mainVisualBox ul li p { position: absolute; left: 200px; top: 50%; font-size: 40px; font-weight: 400; color: white; }

#vaccineMainHomeBox #mainVisualBox ul li .mainVisual01 { width: 100%; height: 800px; background: url("../images/mainVisual01.jpg") no-repeat; background-size: cover; }

#vaccineMainHomeBox #mainVisualBox ul li .mainVisual02 { width: 100%; height: 800px; background: url("../images/mainVisual02.jpg") no-repeat; background-size: cover; }

#vaccineMainHomeBox #mainVisualBox ul li .mainVisual03 { width: 100%; height: 800px; background: url("../images/mainVisual03.jpg") no-repeat; background-size: cover; }

#vaccineMainHomeBox #mainVisualBox #coronaTotalDataBox { position: absolute; top: 10%; right: 100px; z-index: 100; }
>>>>>>> JoWonBeen_master_merge

#vaccineMainHomeBox #mainVisualBox #coronaTotalDataBox p {
  font-size: 30px;
  font-weight: 400;
  color: white;
  border: 1px solid white;
  padding: 20px;
}

<<<<<<< HEAD
#vaccineMainHomeBox #vaccineStatusSection {
  text-align: center;
  margin-top: 150px;
  background-color: #c9c9c9;
  position: relative;
  color: white;
}
=======
#vaccineMainHomeBox #mainVisualBox #mainVisualPaginationBtnBox { position: absolute; left: 10px; top: 0px; width: 50px; height: 800px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; z-index: 150; }

#vaccineMainHomeBox #mainVisualBox #mainVisualPaginationBtnBox .pagination { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#vaccineMainHomeBox #mainVisualBox #mainVisualPaginationBtnBox .pagination .swiper-pagination-bullet { width: 20px; height: 20px; cursor: pointer; margin: 10px 0; background: transparent; border: 3px solid white; border-radius: 100px; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; outline: none; opacity: 1; }

#vaccineMainHomeBox #mainVisualBox #mainVisualPaginationBtnBox .pagination .swiper-pagination-bullet-active { background: white; height: 50px; }

#vaccineMainHomeBox #mainVisualBox #mainVisualPaginationBtnBox .prev { background: none; border: none; outline: none; padding: 0; cursor: pointer; z-index: 999; }

#vaccineMainHomeBox #mainVisualBox #mainVisualPaginationBtnBox .next { background: none; border: none; outline: none; padding: 0; cursor: pointer; z-index: 999; }

#vaccineMainHomeBox #vaccineStatusSection { text-align: center; margin-top: 150px; background-color: #c9c9c9; position: relative; color: white; }
>>>>>>> JoWonBeen_master_merge

#vaccineMainHomeBox #vaccineStatusSection .mainTitle {
  font-size: 35px;
  font-weight: 400;
  padding-top: 80px;
  margin-bottom: 100px;
}

#vaccineMainHomeBox #vaccineStatusSection .mainTitle:before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50%);
  top: 0px;
  width: 1px;
  height: 40px;
  z-index: 99;
  background: white;
}

#vaccineMainHomeBox #vaccineStatusSection .contentsBox {
  padding-bottom: 100px;
}
