<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.covid19.mybatis.CoronaLiveMapper">

	<insert id="insertCoronaDateInfo" parameterType="CoronaDateInfoBean">
		INSERT INTO CORONADATEINFO VALUES (CORONADATEINFO_SEQ.NEXTVAL,
									#{startDate},
									#{deathCnt},
									#{decideCnt},
									#{clearCnt},
									#{todayCnt}
									)
	</insert>
	
	<select id="getLastDate" resultType="String">
		SELECT MAX(STARTDATE) FROM CORONADATEINFO
	</select>
	
	
	
	<insert id="insertCoronaDateInfoSido" parameterType="CoronaSidoInfoBean">
		INSERT INTO CORONASIDOINFO VALUES (CORONASIDOINFO_SEQ.NEXTVAL,
									#{startDate},
									#{deathCnt},
									#{todayCnt},
									#{area}
									)
	</insert>
	
	<select id="getLastDateSido" resultType="String">
		SELECT MAX(STARTDATE) FROM CORONASIDOINFO
	</select>
</mapper>










