<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.covid19.mybatis.ReserveMapper">
<select id="getAllReservation" parameterType="String"
		resultType="ReserveBean">
		SELECT * FROM RESERVATION WHERE MEMBERID = #{memberId}
</select>
<insert id="insertReserve" parameterType="ReserveBean">
		INSERT INTO RESERVATION VALUES (RESERVATION_SEQ.NEXTVAL,
									#{gubun},
									#{vaccine},
									#{hospitalAdd},
									#{rsDate},
									SYSDATE,
									#{memberId}
									)
	</insert>
	<update id="updateReserve" parameterType="ReserveBean">
	UPDATE RESERVATION SET GUBUN=#{gubun},
						   VACCINE=#{vaccine},
						   HOSPITALADD=#{hospitalAdd},
						   RSDATE=#{rsDate}
						   WHERE MEMBERID=#{memberId}
	</update>
	<delete id="deleteReserve" parameterType="String">
	DELETE FROM RESERVATION WHERE MEMBERID = #{memberId}
	</delete>
</mapper>