<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.covid19.mybatis.VaccineStatusMapper">
	<insert id="insertVaccineStatus" parameterType="VaccineStatusBean">
		INSERT INTO VACCINESTATUS VALUES (VACCINESTATUS_SEQ.NEXTVAL,
													    #{baseDate},
													    #{area},
													    #{firstCnt},
													    #{secondCnt},
													    #{totalFirstCnt}
													    #{totalSecondCnt})
	</insert>
	
</mapper>










